MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/zatch?retryWrites=true&w=majority
MONGO_DB_NAME=zatch
MONGO_TIMEOUT_MS=5000
MONGO_MAX_POOL_SIZE=20
ADMIN_API_KEY=change-me
API_KEY=change-me
SENTRY_DSN=
PRODUCT_CATALOG_CACHE_TTL_SECONDS=45
ZATCH_CACHE_TTL_SECONDS=30
ALLOWED_ORIGINS=*
